<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="index.htm" />
                <add value="temp.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <httpRedirect enabled="false" destination="http://www.copaseguridad.com/index.html" />
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="^authenticate/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="http://127.0.0.1:5500/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
    <system.web>
        <customErrors mode="RemoteOnly" defaultRedirect="index.html" />
    </system.web>
</configuration>
